extends layout.jade

block content
	div.blue-container
		div.white-container
			table.u-full-width
				thead
					tr
						th Name
						th State
						th City
						th Rating
						th Open
				tbody
				each item in contents.data['restaurants.json'].metadata
					tr
						td
							a(href='view/restaurant.html')
								= item.name
						td= item.state
						td= item.city
						td= item.stars + " Stars"
						if item.open
							td= "Open"
						else
							td= "Closed"
